language: python
python:
  - "3.2"
  - "3.3"
  - "3.4"
install:
    - pip install --use-mirrors -r test-requirements.pip
services:
  - rabbitmq
script: nosetests -c nose.cfg --with-coverage --cover-package=genpipeline
sudo: required
